body {
    background-size: cover;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
}

/* .nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
} */

#homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
}

#homePage #playButton {
    font-family: "Nanum Pen Script", cursive;
        font-weight: 400;
        font-style: normal;
        height: 75px;
        width: 100px;
        font-size: 2rem;
}