body {
    background-image: url("https://i.ibb.co/8XDxSgK/4317878.jpg");
    background-size: cover;
        font-family: "Nanum Pen Script", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
}